body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .dashboard-header, .dashboard-footer {
    background-color: #282c34;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  .dashboard-header h1 {
    margin: 0;
  }
  
  .dashboard-footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .dashboard > * {
    margin: 1rem;
  }

  .map-container {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    overflow: hidden;
  }
  
  /* Ensure all country paths have borders */
path {
  stroke: black;
  stroke-width: 0.5px;
  fill-opacity: 1; /* Ensure the fill does not fully cover the border */
}

/* Maintain border visibility when hovering */
path:hover {
  stroke: black !important;
  stroke-width: 0.7px; /* Slightly thicker on hover for clarity */
}

.ReactModal__Overlay {
  z-index: 1000 !important;
}

.ReactModal__Content {
  z-index: 1001 !important;
  position: relative;
}

  

  @import 'leaflet/dist/leaflet.css';

  