body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .dashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .dashboard-header, .dashboard-footer {
    background-color: #282c34;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  .dashboard-header h1 {
    margin: 0;
  }
  
  .dashboard-footer p {
    margin: 0;
    font-size: 0.9rem;
  }
  
  .dashboard > * {
    margin: 1rem;
  }

  .map-container {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    overflow: hidden;
  }
  
  /* Ensure all country paths have borders */
path {
  stroke: black;
  stroke-width: 0.5px;
  fill-opacity: 1; /* Ensure the fill does not fully cover the border */
}

/* Maintain border visibility when hovering */
path:hover {
  stroke: black !important;
  stroke-width: 0.7px; /* Slightly thicker on hover for clarity */
}

.ReactModal__Overlay {
  z-index: 1000 !important;
}

.ReactModal__Content {
  z-index: 1001 !important;
  position: relative;
}

/* Ensures the map container takes the full screen size */
/* Ensures the map container wraps around the content */
.map-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to center the content vertically */
  width: 100%;   /* Full width of the screen */
}

.map-container-wrapper {
  width: 80%;   /* Adjust this to change the map width */
  max-width: 800px; /* You can also set a max width for better control */
  height: auto;  /* Adjust height to fit content */
  display: flex;
  align-items: center;
}

.map-container {
  width: 100%;   /* Make the map fit the container's width */
  height: 1000px;  /* Set a fixed height for the map */
  border: 1px solid #ddd; /* Optional: Adds a border around the map */
}

/* Filter Panel */
.filter-panel {
  position: fixed;
  top: 50%;
  right: 0; /* Align the panel to the right side of the screen */
  transform: translateY(-50%); /* Center the panel vertically */
  z-index: 10;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-button {
  padding: 15px;
  font-size: 16px;
  background-color: #005bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; /* Adjust width to fit your design */
  text-align: center;
}

.filter-button:hover {
  background-color: #003b7a;
}

.filter-button.active {
  background-color: #003b7a;
  font-weight: bold;
}








  

  @import 'leaflet/dist/leaflet.css';

  